<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>MTV Unplugged</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/kerry.png">
</head>

<body>
    <h1>&#119070 Getting jiggy with it &#x266a</h1>

    <div class="form-group">
        <label for="jig">Jig:</label>
        <select id="jig" name="jig">
            <option value="" selected disabled>Select Jig</option>
            {% for option in jigs %}
            <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
    </div>

    <form>
        <div class="form-group" id="inputFields" style="display: none;">
            <label> <i>The default values are the previous ones for the currently selected jig</i></label>

            <br>
            <br>

            <label for="duration">Duration [us]:</label>
            <input type="number" id="duration" name="duration" onkeyup="saveValue(this)" ;>

            <br>
            <br>

            <label for="delay">Delay [us]:</label>
            <input type="number" id="delay" name="delay" onkeyup="saveValue(this)" ;>

            <br>
            <br>

            <label for="avg_num">Avg num [ ]:</label>
            <input type="number" id="avg_num" name="avg_num" onkeyup="saveValue(this)" ;>

            <br>
            <br>

            <label for="voltage_range">Voltage range [V]:</label>
            <input type="number" id="voltage_range" name="voltage_range" onkeyup="saveValue(this)" ;>
            <br>
            <br>

            <label for="interval">Interval [s]:</label>
            <input type="number" id="interval" name="interval" onkeyup=" saveValue(this)" ;>

            <br>
            <br>

            <label for="exp_duration">Exp duration [h]:</label>
            <input type="number" id="exp_duration" name="exp_duration" onkeyup="saveValue(this)" ;>

            <br>
            <br>

            <label for="exp_id">Experiment Identifier:</label>
            <input type="text" id="exp_id" name="exp_id" ;>
        </div>

        <br>
        <br>

        <button type="submit" id="pulse">Send a single pulse</button>
        <button type="submit" id="start">Start experiment</button>
        <button type="submit" id="kill">Kill experiment</button>

    </div>

    </form>

    <br>
    <br>

    <div id="status"></div>
    <div id="message"></div>
    <div>
        <canvas id="figure"></canvas>
    </div>

    <script src="/static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>

</html>