<!DOCTYPE html>
<html>

<head>
    <title>MTV Unplugged</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="icon" href="../static/mtv.png" type="image/png">
</head>
<h1>Unplugged</h1>
</body>

<table>
    <thead>
        <tr>
            <th class="tooltip" title="jig">
                jig
                <span class="tooltiptext">Named after pokémons because we apparently plateaued in maturity at 7. Each
                    jig has a
                    sticker denoting the respective pokémon</span>
            </th>
            <th class="tooltip" title="status">
                status
                <span class="tooltiptext">Set to "idling" when you want to stop. Set to "pulse" when you want to test
                    signal parameters. Set to "running" when experiment should start. Don't forget to click
                    "commit"!</span>
            </th>
            <th class="tooltip" title="color">
                indicator
                <span class="tooltiptext">Set to "idling" when you want to stop. Set to "pulse" when you want to test
                    signal parameters. Set to "running" when experiment should start. Don't forget to click
                    "commit"!</span>
            </th>

            <th class="tooltip" title="since">
                t since updated [s]
                <span class="tooltiptext">Time elapsed since a pulse was last recorded on this jig</span>
            </th>
            <th class="tooltip" title="user">
                user
                <span class="tooltiptext">Doesn't do anything—other than logically organizing who is using each
                    jig.</span>
            </th>
            <th class="tooltip" title="experimentID">
                experiment ID
                <span class="tooltiptext">Ideally a unique, systematic identifier. Unplugged does not enforce unique
                    experiment identifiers, so tread carefully</span>
            </th>
            <th class="tooltip" title="delay">
                delay [us]
                <span class="tooltiptext">Time elapsed between pulse bang and oscilloscope starting to collect
                    data.</span>
            </th>
            <th class="tooltip" title="duration">
                duration [us]
                <span class="tooltiptext">Window in which the oscilloscope collects data.</span>
            </th>
            <th class="tooltip" title="gain">
                gain [dB]
                <span class="tooltiptext">Amplification factor. This should be tweaked for the amplitude to be roughly
                    in the plus/minus 0.5 V range.</span>
            </th>
            <th class="tooltip" title="mux_module">
                mux module
                <span class="tooltiptext">Unique to each jig. Don't change this—in software or hardware—without
                    consulting the IT department.</span>
            </th>
            <th class="tooltip" title="mux_row">
                mux row
                <span class="tooltiptext">Unique to each jig. Don't change this—in software or hardware—without
                    consulting the IT department.</span>
            </th>
            <th class="tooltip" title="mode">
                mode
                <span class="tooltiptext">Either transmission (1) or pulse/echo (0).</span>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for jig, data in META.items() %}
        <tr>
            <td>{{ jig }}</td>
            <td>
                <select name="{{ jig }}_status">
                    {% for status in STATUS %}
                    <option value="{{ status }}" {% if data['status']==status %}selected{% endif %}>{{ status }}
                    </option>
                    {% endfor %}
                </select>
            </td>
            <td>
                {% for status in STATUS %}
                {% if data['status'] == 'idling' %}
                <span class="circle red"></span>
                {% elif data['status'] == 'pulsing' %}
                <span class="circle yellow"></span>
                {% elif data['status'] == 'running' %}
                <span class="circle green"></span>
                {% endif %}
                {% endfor %}
            </td>
            <td>{{TIMESTAMPS[jig]}}</td>
            <td>
                <select name="{{ jig }}_user">
                    {% for user in USERS %}
                    <option value="{{ user }}" {% if data["user"]==user %}selected{% endif %}>{{ user }}</option>
                    {% endfor %}
                </select>
            </td>
            <td><input type="text" name="{{ jig }}_exp_id" value="{{ data['exp_id'] }}"></td>
            <td><input type="number" name="{{ jig }}_delay" value="{{ data['delay'] }}"></td>
            <td><input type="number" name="{{ jig }}_duration" value="{{ data['duration'] }}"></td>
            <td><input type="number" name="{{ jig }}_gain_dB" value="{{ data['gain_dB'] }}"></td>
            <td><input type="number" name="{{ jig }}_mux_module" value="{{ data['mux_module'] }}"></td>
            <td><input type="number" name="{{ jig }}_mux_row" value="{{ data['mux_row'] }}"></td>
            <td><input type="number" name="{{ jig }}_mode" value="{{ data['mode'] }}"></td>
            {% endfor %}
        </tr>

    </tbody>
</table>

<tr>
    <td colspan="{{ JIGS|length + 1 }}">
        <button id="commit-button" onclick="commit({{META|tojson}})">Commit</button>
    </td>
</tr>
<br>
<br>

<!-- Add a dropdown list for jig selection -->
<select id="jig-select" onchange="showSelectedImage()">
    <option value="">Select a Jig</option>
    {% for jig in JIGS %}
    <option value="{{ jig }}">{{ jig }}</option>
    {% endfor %}
</select>

<div id="image-container"></div>
<br>
<br>
<div style="font-style: italic;">
    The figure displayed is the latest ones for the selected jig. It is timestamped if you need a sanity check.
</div>
<br>
<br>

<script src="./static/script.js"></script>

</body>

</html>